/*
	Author: Ninjas For Hire
	Author URL: http://www.ninjasforhire.co.za

	Made in Cape Town :)
*/
@font-face {
  font-family: 'Lato-ThinItalic';
  src: url("../fonts/lato/latothinitalic.eot");
  src: url("../fonts/lato/latothinitalic.eot?#iefix") format("embedded-opentype"), url("../fonts/lato/latothinitalic.svg#latothinitalic") format("svg"), url("../fonts/lato/latothinitalic.ttf") format("truetype"), url("../fonts/lato/latothinitalic.woff") format("woff"), url("../fonts/lato/latothinitalic.woff2") format("woff2");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Lato-Thin';
  src: url("../fonts/lato/latothin.eot");
  src: url("../fonts/lato/latothin.eot?#iefix") format("embedded-opentype"), url("../fonts/lato/latothin.svg#latothin") format("svg"), url("../fonts/lato/latothin.ttf") format("truetype"), url("../fonts/lato/latothin.woff") format("woff"), url("../fonts/lato/latothin.woff2") format("woff2");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Lato-SemiboldItalic';
  src: url("../fonts/lato/latosemibolditalic.eot");
  src: url("../fonts/lato/latosemibolditalic.eot?#iefix") format("embedded-opentype"), url("../fonts/lato/latosemibolditalic.svg#latosemibolditalic") format("svg"), url("../fonts/lato/latosemibolditalic.ttf") format("truetype"), url("../fonts/lato/latosemibolditalic.woff") format("woff"), url("../fonts/lato/latosemibolditalic.woff2") format("woff2");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Lato-Semibold';
  src: url("../fonts/lato/latosemibold.eot");
  src: url("../fonts/lato/latosemibold.eot?#iefix") format("embedded-opentype"), url("../fonts/lato/latosemibold.svg#latosemibold") format("svg"), url("../fonts/lato/latosemibold.ttf") format("truetype"), url("../fonts/lato/latosemibold.woff") format("woff"), url("../fonts/lato/latosemibold.woff2") format("woff2");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Lato-Regular';
  src: url("../fonts/lato/latoregular.eot");
  src: url("../fonts/lato/latoregular.eot?#iefix") format("embedded-opentype"), url("../fonts/lato/latoregular.svg#latoregular") format("svg"), url("../fonts/lato/latoregular.ttf") format("truetype"), url("../fonts/lato/latoregular.woff") format("woff"), url("../fonts/lato/latoregular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Lato-MediumItalic';
  src: url("../fonts/lato/latomediumitalic.eot");
  src: url("../fonts/lato/latomediumitalic.eot?#iefix") format("embedded-opentype"), url("../fonts/lato/latomediumitalic.svg#latomediumitalic") format("svg"), url("../fonts/lato/latomediumitalic.ttf") format("truetype"), url("../fonts/lato/latomediumitalic.woff") format("woff"), url("../fonts/lato/latomediumitalic.woff2") format("woff2");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Lato-Medium';
  src: url("../fonts/lato/latomedium.eot");
  src: url("../fonts/lato/latomedium.eot?#iefix") format("embedded-opentype"), url("../fonts/lato/latomedium.svg#latomedium") format("svg"), url("../fonts/lato/latomedium.ttf") format("truetype"), url("../fonts/lato/latomedium.woff") format("woff"), url("../fonts/lato/latomedium.woff2") format("woff2");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Lato-LightItalic';
  src: url("../fonts/lato/latolightitalic.eot");
  src: url("../fonts/lato/latolightitalic.eot?#iefix") format("embedded-opentype"), url("../fonts/lato/latolightitalic.svg#latolightitalic") format("svg"), url("../fonts/lato/latolightitalic.ttf") format("truetype"), url("../fonts/lato/latolightitalic.woff") format("woff"), url("../fonts/lato/latolightitalic.woff2") format("woff2");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Lato-Light';
  src: url("../fonts/lato/latolight.eot");
  src: url("../fonts/lato/latolight.eot?#iefix") format("embedded-opentype"), url("../fonts/lato/latolight.svg#latolight") format("svg"), url("../fonts/lato/latolight.ttf") format("truetype"), url("../fonts/lato/latolight.woff") format("woff"), url("../fonts/lato/latolight.woff2") format("woff2");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Lato-Italic';
  src: url("../fonts/lato/latoitalic.eot");
  src: url("../fonts/lato/latoitalic.eot?#iefix") format("embedded-opentype"), url("../fonts/lato/latoitalic.svg#latoitalic") format("svg"), url("../fonts/lato/latoitalic.ttf") format("truetype"), url("../fonts/lato/latoitalic.woff") format("woff"), url("../fonts/lato/latoitalic.woff2") format("woff2");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Lato-HeavyItalic';
  src: url("../fonts/lato/latoheavyitalic.eot");
  src: url("../fonts/lato/latoheavyitalic.eot?#iefix") format("embedded-opentype"), url("../fonts/lato/latoheavyitalic.svg#latoheavyitalic") format("svg"), url("../fonts/lato/latoheavyitalic.ttf") format("truetype"), url("../fonts/lato/latoheavyitalic.woff") format("woff"), url("../fonts/lato/latoheavyitalic.woff2") format("woff2");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Lato-Heavy';
  src: url("../fonts/lato/latoheavy.eot");
  src: url("../fonts/lato/latoheavy.eot?#iefix") format("embedded-opentype"), url("../fonts/lato/latoheavy.svg#latoheavy") format("svg"), url("../fonts/lato/latoheavy.ttf") format("truetype"), url("../fonts/lato/latoheavy.woff") format("woff"), url("../fonts/lato/latoheavy.woff2") format("woff2");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Lato-HairlineItalic';
  src: url("../fonts/lato/latohairlineitalic.eot");
  src: url("../fonts/lato/latohairlineitalic.eot?#iefix") format("embedded-opentype"), url("../fonts/lato/latohairlineitalic.svg#latohairlineitalic") format("svg"), url("../fonts/lato/latohairlineitalic.ttf") format("truetype"), url("../fonts/lato/latohairlineitalic.woff") format("woff"), url("../fonts/lato/latohairlineitalic.woff2") format("woff2");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Lato-Hairline';
  src: url("../fonts/lato/latohairline.eot");
  src: url("../fonts/lato/latohairline.eot?#iefix") format("embedded-opentype"), url("../fonts/lato/latohairline.svg#latohairline") format("svg"), url("../fonts/lato/latohairline.ttf") format("truetype"), url("../fonts/lato/latohairline.woff") format("woff"), url("../fonts/lato/latohairline.woff2") format("woff2");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Lato-BoldItalic';
  src: url("../fonts/lato/latobolditalic.eot");
  src: url("../fonts/lato/latobolditalic.eot?#iefix") format("embedded-opentype"), url("../fonts/lato/latobolditalic.svg#latobolditalic") format("svg"), url("../fonts/lato/latobolditalic.ttf") format("truetype"), url("../fonts/lato/latobolditalic.woff") format("woff"), url("../fonts/lato/latobolditalic.woff2") format("woff2");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Lato-Bold';
  src: url("../fonts/lato/latobold.eot");
  src: url("../fonts/lato/latobold.eot?#iefix") format("embedded-opentype"), url("../fonts/lato/latobold.svg#latobold") format("svg"), url("../fonts/lato/latobold.ttf") format("truetype"), url("../fonts/lato/latobold.woff") format("woff"), url("../fonts/lato/latobold.woff2") format("woff2");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Lato-BlackItalic';
  src: url("../fonts/lato/latoblackitalic.eot");
  src: url("../fonts/lato/latoblackitalic.eot?#iefix") format("embedded-opentype"), url("../fonts/lato/latoblackitalic.svg#latoblackitalic") format("svg"), url("../fonts/lato/latoblackitalic.ttf") format("truetype"), url("../fonts/lato/latoblackitalic.woff") format("woff"), url("../fonts/lato/latoblackitalic.woff2") format("woff2");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Lato-Black';
  src: url("../fonts/lato/latoblack.eot");
  src: url("../fonts/lato/latoblack.eot?#iefix") format("embedded-opentype"), url("../fonts/lato/latoblack.svg#latoblack") format("svg"), url("../fonts/lato/latoblack.ttf") format("truetype"), url("../fonts/lato/latoblack.woff") format("woff"), url("../fonts/lato/latoblack.woff2") format("woff2");
  font-weight: 400;
  font-style: normal; }

/* base */
html {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

*, *:before, *:after {
  -moz-box-sizing: inherit;
  -webkit-box-sizing: inherit;
  box-sizing: inherit; }

body {
  color: #212121;
  font-size: 18px;
  font-family: 'Lato-Light';
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
  -webkit-text-stroke: 1px rgba(0, 0, 0, 0); }

img {
  border: 0; }

h1, h2, h3, h4, h5, h6, p, form, input, ul, ol, li, header, nav, footer, section {
  list-style: none;
  margin: 0;
  padding: 0; }

h1 {
  font-size: 60px; }

h2 {
  color: #212121;
  font-size: 24px;
  padding: 0 0 20px;
  font-family: 'Lato-Bold';
  font-weight: normal; }

h3 {
  font-size: 35px !important; }

h4 {
  font-family: 'Lato-Bold';
  font-size: 18px;
  color: #212121;
  font-weight: normal;
  letter-spacing: 1.55px;
  padding: 0 0 7px; }

h5 {
  font-size: 25px; }

h6 {
  font-size: 20px; }

p {
  padding: 0 0 15px;
  font-size: 18px; }

header, nav, footer, section {
  display: block; }

textarea,
button,
input,
input[type="text"],
input[type="button"],
input[type="submit"] {
  -webkit-appearance: none;
  border-radius: 0;
  color: #333;
  font-size: 14px;
  font-weight: 300;
  outline: none; }

textarea {
  resize: none;
  overflow: auto; }

input:focus,
textarea:focus {
  outline: none; }

table,
table td {
  border-collapse: collapse;
  border-spacing: 0;
  margin: 0;
  padding: 0; }

a {
  color: #c24b7f;
  font-size: 16px;
  font-family: 'Lato-Regular'; }

.section a:hover {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2); }

.vid_container {
  position: relative;
  display: block;
  overflow: hidden; }

video {
  position: absolute;
  object-fit: cover;
  object-position: 50% 50%;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; }

/* generic */
.row {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  padding: 20px; }
  @media (min-width: 1400px) {
    .row {
      padding: 0; } }
  .row.row_wrap {
    align-items: center;
    display: flex;
    flex-direction: column; }

.title_red {
  color: #d0430d; }

.title_pink {
  color: #c24b7f; }

.title_green {
  color: #7fb147; }

.title_blue {
  color: #5b799f; }

.title_gold {
  color: #846a35; }

.title_avo {
  color: #c9a252; }

.title_char {
  color: #454642; }

.title_purple {
  color: #d388eb; }

.title_lightpurple {
  color: #e8befd; }

.title_yellow {
  color: #fdf046; }

.title_orange {
  color: #f1a93a; }

.title_teal {
  color: #19b0f0; }

.title_newpurple {
  color: #9416da; }

.pink_bg {
  background: #c24b7f;
  color: #fff; }

.button-wrapper {
  margin: 30px 0 0; }
  @media (min-width: 768px) {
    .button-wrapper {
      margin: 50px 0; } }
  .button-wrapper .big_button {
    font-family: 'Lato-Bold';
    border-radius: 5px;
    font-size: 13px;
    letter-spacing: 1.55px;
    padding: 15px 15px;
    position: relative;
    width: 100%;
    float: left;
    text-decoration: none;
    text-align: center;
    display: inline-block; }
    @media (min-width: 480px) {
      .button-wrapper .big_button {
        font-size: 20px;
        width: auto;
        float: none; } }

.clearfix:after {
  content: "";
  display: table;
  clear: both; }

.clearboth {
  clear: both; }

.fl {
  float: left; }

.fr {
  float: right; }

.videowrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 25px;
  height: 0; }

.videowrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.state-indicator {
  position: absolute;
  top: -999em;
  left: -999em;
  z-index: 1; }

/* tablet */
@media all and (max-width: 992px) {
  .state-indicator {
    z-index: 7; } }

/* content */
.content {
  padding: 20px 20px 30px;
  /* start captions */
  /* end captions */ }
  @media (min-width: 768px) {
    .content {
      padding: 30px 0; } }
  .content h1, .content h2, .content h3, .content h4, .content h5, .content h6 {
    border: 0;
    font-weight: normal;
    margin: 0; }
  .content h3 {
    margin-bottom: 20px;
    fot-size: 18px;
    font-family: 'Lato-Bold';
    font-weight: normal;
    font-size: 18px !important; }
  .content img {
    width: auto !important;
    max-width: 100%; }
  .content blockquote {
    border-left: 5px solid #cccccc;
    margin: 15px 30px 20px 10px;
    padding: 5px 0 5px 20px; }
  .content table {
    border: solid #cccccc;
    border-width: 1px 0 0 1px;
    margin: 0 0 20px;
    width: 100%; }
  .content ol {
    counter-reset: li;
    list-style: decimal;
    padding: 0 0 15px; }
    .content ol li {
      margin: 0 0 0 25px; }
  .content ul {
    padding: 0 0 15px;
    width: 100%; }
    .content ul li {
      list-style: disc;
      margin: 0 0 0 25px; }
  .content table {
    border-radius: 3px;
    -moz-border-radius: 3px;
    -khtml-border-radius: 3px;
    -webkit-border-radius: 3px;
    display: block; }
    .content table th, .content table td {
      border: solid #cccccc;
      border-width: 0 1px 1px 0;
      background: #f7f7f7;
      padding: 5px;
      text-align: left; }
  .content address {
    border-left: 5px solid #cccccc;
    margin: 15px 30px 20px 10px;
    padding: 5px 0 5px 20px; }
  .content .gallery {
    padding: 0 0 20px; }
  .content .alignleft {
    float: left;
    margin: 3px 20px 20px 0; }
  .content .aligncenter {
    display: block;
    margin: 0 auto 20px auto; }
  .content .alignright {
    float: right;
    margin: 3px 0 20px 20px; }
  .content .alignnone {
    display: block;
    float: none;
    margin: 0 0 30px 0; }
  .content .size-full {
    height: auto;
    margin: 0 0 30px 0;
    width: 100%; }
  .content p .alignleft {
    float: left;
    margin: 5px 15px 30px 0; }
  .content p .aligncenter {
    display: block;
    margin: 5px auto 30px auto; }
  .content p .alignright {
    float: right;
    margin: 5px 0 30px 15px; }
  .content p .alignnone {
    display: block;
    float: none;
    margin: 5px 0 30px 0; }
  .content p .size-full {
    height: auto;
    margin: 5px 0 30px 0;
    width: 100%; }
  .content .aligncenter,
  .content div.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto; }
  .content .wp-caption {
    background-color: #f3f3f3;
    border: 1px solid #ddd;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -khtml-border-radius: 3px;
    -webkit-border-radius: 3px;
    padding-top: 5px;
    text-align: center;
    max-width: 100%; }
  .content .wp-caption img {
    border: 0;
    display: block !important;
    margin: 0 auto !important;
    padding: 0;
    max-width: 98%; }
  .content .wp-caption p.wp-caption-text {
    font-size: 13px;
    line-height: 17px;
    margin: 0;
    padding: 0 4px 5px; }

/**
 * Owl Carousel v2.1.4
 * Copyright 2013-2016 David Deutsch
 * Licensed under MIT (https://github.com/OwlCarousel2/OwlCarousel2/blob/master/LICENSE)
 */
/*
 *  Owl Carousel - Core
 */
.owl-carousel {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  /* position relative and z-index fix webkit rendering fonts issue */
  position: relative;
  z-index: 1; }

.owl-carousel .owl-stage {
  position: relative;
  -ms-touch-action: pan-Y; }

.owl-carousel .owl-stage:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  /* fix for flashing background */
  -webkit-transform: translate3d(0px, 0px, 0px); }

.owl-carousel .owl-item {
  position: relative;
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none; }

.owl-carousel .owl-item img {
  display: block;
  width: 100%;
  -webkit-transform-style: preserve-3d; }

.owl-carousel .owl-nav.disabled,
.owl-carousel .owl-dots.disabled {
  display: none; }

.owl-carousel .owl-nav .owl-prev,
.owl-carousel .owl-nav .owl-next,
.owl-carousel .owl-dot {
  cursor: pointer;
  cursor: hand;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.owl-carousel.owl-loaded {
  display: block; }

.owl-carousel.owl-loading {
  opacity: 0;
  display: block; }

.owl-carousel.owl-hidden {
  opacity: 0; }

.owl-carousel.owl-refresh .owl-item {
  display: none; }

.owl-carousel.owl-drag .owl-item {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.owl-carousel.owl-grab {
  cursor: move;
  cursor: grab; }

.owl-carousel.owl-rtl {
  direction: rtl; }

.owl-carousel.owl-rtl .owl-item {
  float: right; }

/* No Js */
.no-js .owl-carousel {
  display: block; }

/*
 *  Owl Carousel - Animate Plugin
 */
.owl-carousel .animated {
  -webkit-animation-duration: 1000ms;
  animation-duration: 1000ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

.owl-carousel .owl-animated-in {
  z-index: 0; }

.owl-carousel .owl-animated-out {
  z-index: 1; }

.owl-carousel .fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut; }

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

/*
 * 	Owl Carousel - Auto Height Plugin
 */
.owl-height {
  transition: height 500ms ease-in-out; }

/*
 * 	Owl Carousel - Lazy Load Plugin
 */
.owl-carousel .owl-item .owl-lazy {
  opacity: 0;
  transition: opacity 400ms ease; }

.owl-carousel .owl-item img.owl-lazy {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d; }

/*
 * 	Owl Carousel - Video Plugin
 */
.owl-carousel .owl-video-wrapper {
  position: relative;
  height: 100%;
  background: #000; }

.owl-carousel .owl-video-play-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  background: url("owl.video.play.png") no-repeat;
  cursor: pointer;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  transition: -webkit-transform 100ms ease;
  transition: transform 100ms ease; }

.owl-carousel .owl-video-play-icon:hover {
  -webkit-transform: scale(1.3, 1.3);
  -ms-transform: scale(1.3, 1.3);
  transform: scale(1.3, 1.3); }

.owl-carousel .owl-video-playing .owl-video-tn,
.owl-carousel .owl-video-playing .owl-video-play-icon {
  display: none; }

.owl-carousel .owl-video-tn {
  opacity: 0;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: opacity 400ms ease; }

.owl-carousel .owl-video-frame {
  position: relative;
  z-index: 1;
  height: 100%;
  width: 100%; }

.owl-dots {
  display: block;
  text-align: center; }
  .owl-dots .owl-dot {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 30px;
    background: transparent;
    margin: 10px 5px;
    border: 1px solid white; }
    .owl-dots .owl-dot.active {
      background: white; }

/*	BigVideo Styles 
	You may need to adjust these styles to get this working right in your design. 
*/
#big-video-wrap {
  overflow: hidden;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -1; }

#big-video-vid, #big-video-image {
  position: absolute; }

#big-video-control-container {
  position: fixed;
  bottom: 0;
  padding: 10px;
  width: 100%;
  background: rgba(0, 0, 0, 0.25);
  -webkit-transition-duration: 0.6s;
  -moz-transition-duration: 0.6s;
  -ms-transition-duration: 0.6s;
  -o-transition-duration: 0.6s;
  transition-duration: 0.6s; }

#big-video-control {
  width: 100%;
  height: 16px;
  position: relative; }

#big-video-control-middle {
  margin: 0 56px 0 24px; }

#big-video-control-bar {
  width: 100%;
  height: 16px;
  position: relative;
  cursor: pointer; }

#big-video-control-progress {
  position: absolute;
  top: 7px;
  height: 3px;
  width: 0%;
  background: #fff; }

#big-video-control-track {
  position: absolute;
  top: 8px;
  height: 1px;
  width: 100%;
  background: #fff; }

#big-video-control-bound-left {
  left: 0; }

#big-video-control-bound-right {
  right: -1px; }

#big-video-control-track .ui-slider-handle {
  opacity: 0; }

#big-video-control-playhead {
  left: 30%; }

#big-video-control-play {
  position: absolute;
  top: 0;
  left: 0;
  height: 16px;
  width: 16px;
  background-image: url("bigvideo.png"); }

#big-video-control-timer {
  position: absolute;
  top: 1px;
  right: 0;
  color: #fff;
  font-size: 11px; }

#big-video-control-playhead, #big-video-control-bound-left, #big-video-control-bound-right {
  position: absolute;
  top: 0;
  height: 16px;
  width: 1px;
  background: #fff; }

#big-video-control .ui-slider-handle {
  border-left: solid 1px #fff;
  width: 16px;
  height: 16px;
  position: absolute;
  top: -8px; }

.transparent {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0; }

#big-video-wrap .vjs-big-play-button {
  display: none !important; }

#big-video-wrap .vjs-control-bar, #big-video-wrap .vjs-caption-settings, #big-video-wrap .vjs-error-display {
  display: none; }

.navigator {
  display: flex;
  align-items: center;
  justify-content: space-between; }

.site_nav {
  padding: 20px; }
  @media (min-width: 768px) {
    .site_nav {
      padding: 40px 0; } }
  .site_nav .site-logo a {
    font-size: 30px;
    font-family: 'Lato-Regular';
    text-decoration: none;
    color: #000; }
    @media (min-width: 768px) {
      .site_nav .site-logo a {
        font-size: 45px; } }
  .site_nav .nav_section .nav_ico {
    padding-left: 10px; }
  .site_nav .nav_section .btn_close {
    display: none;
    float: right;
    position: relative; }
    .site_nav .nav_section .btn_close.show {
      display: flex;
      align-items: center;
      justify-content: center; }
      .site_nav .nav_section .btn_close.show .nav_ico {
        padding: 6px 0 0 10px; }
  .site_nav .nav_section .bar1, .site_nav .nav_section .bar2, .site_nav .nav_section .bar3 {
    background-color: #000;
    height: 3px;
    margin: 5px 0;
    transition: 0.4s;
    width: 26px; }
  .site_nav .nav_section .show .bar1 {
    -webkit-transform: rotate(-45deg) translate(0px, 0px);
    transform: rotate(-45deg) translate(0px, 0px); }
  .site_nav .nav_section .show .bar2 {
    opacity: 0; }
  .site_nav .nav_section .show .bar3 {
    -webkit-transform: rotate(45deg) translate(-5px, -5px);
    transform: rotate(45deg) translate(-5px, -5x); }
  .site_nav .nav_section .menu_ico {
    align-items: center;
    display: flex;
    margin-left: auto;
    padding: 11px 15px 12px;
    font-size: 18px;
    font-family: 'Lato-Regular';
    text-transform: uppercase;
    color: #000; }
    .site_nav .nav_section .menu_ico a {
      text-decoration: none;
      font-size: 18px;
      font-family: 'Lato-Regular';
      text-transform: uppercase;
      color: #000; }
    .site_nav .nav_section .menu_ico .menu_ico {
      padding-left: 15px; }
    .site_nav .nav_section .menu_ico .btn_menu {
      display: flex;
      align-items: center; }
      .site_nav .nav_section .menu_ico .btn_menu.hide {
        display: none; }
  .site_nav .nav_section .menu {
    align-items: center;
    background: rgba(0, 0, 0, 0.75);
    display: none;
    flex-direction: column;
    float: left;
    height: 100%;
    left: 0;
    padding: 40px 0;
    position: fixed;
    top: 94px;
    width: 100%;
    z-index: 10; }
    .site_nav .nav_section .menu li {
      padding-bottom: 10px; }
      .site_nav .nav_section .menu li a {
        color: #fff;
        font-family: Lato-Regular;
        font-size: 32px;
        letter-spacing: 1.55px;
        text-transform: uppercase;
        text-decoration: none; }
        @media (min-width: 768px) {
          .site_nav .nav_section .menu li a {
            font-size: 24px; } }
    .site_nav .nav_section .menu.show {
      display: flex; }

.site_header {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100px;
  border-bottom: 1px solid #212121; }
  @media (min-width: 768px) {
    .site_header {
      min-height: 350px; } }
  .site_header .row h1 {
    font-family: 'Lato-Bold';
    font-size: 25px;
    line-height: 45px;
    text-align: center;
    text-shadow: 0px 1px #fff, 0 -1px #fff, 1px 0px #FFF, -1px 0 #fff; }
    @media (min-width: 768px) {
      .site_header .row h1 {
        font-size: 35px;
        line-height: 60px; } }

.has_2_cols {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 0 20px; }
  @media (min-width: 768px) {
    .has_2_cols {
      flex-direction: row;
      padding: 0; } }
  .has_2_cols.intro .col {
    align-items: center; }
  .has_2_cols.intro .icon {
    max-width: 100px; }
    .has_2_cols.intro .icon img {
      height: 100px;
      width: auto; }
  .has_2_cols.intro .text {
    font-size: 23px;
    font-family: 'Lato-Regular';
    font-weight: normal;
    text-align: center; }
  .has_2_cols .col {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 0 20px; }
    @media (min-width: 768px) {
      .has_2_cols .col {
        max-width: 50%;
        padding: 0 40px 30px 0px; } }
    @media (min-width: 768px) {
      .has_2_cols .col:nth-child(2n+2) {
        padding: 0 0 30px 40px; } }
    .has_2_cols .col .icon {
      padding-bottom: 20px; }
    .has_2_cols .col .title {
      text-align: left; }
    .has_2_cols .col .text {
      font-size: 16px;
      font-family: 'Lato-Light';
      font-weight: normal;
      padding: 0 0 10px; }
    .has_2_cols .col.col-2_3 {
      width: 66.6%;
      max-width: 66.6%; }
      @media (max-width: 768px) {
        .has_2_cols .col.col-2_3 {
          width: 100%;
          max-width: 100%; } }
    .has_2_cols .col.col-1_3 {
      width: 33.3%;
      max-width: 33.3%; }
      @media (max-width: 768px) {
        .has_2_cols .col.col-1_3 {
          width: 100%;
          max-width: 100%; } }
    .has_2_cols .col.col_right h2 {
      padding: 20px 0 10px; }
  .has_2_cols.content {
    padding: 0px; }
    @media (min-width: 768px) {
      .has_2_cols.content .col {
        padding: 0 67px 0 0; } }
    @media (min-width: 768px) {
      .has_2_cols.content .col:nth-child(2n) {
        padding: 0 0 0 67px; } }
    @media (min-width: 768px) {
      .has_2_cols.content .col.col_left {
        padding-top: 10px; } }
    .has_2_cols.content h2 {
      text-align: left; }
      .has_2_cols.content h2:after {
        display: none; }
    @media (min-width: 768px) {
      .has_2_cols.content ul:first-of-type {
        padding-left: 23px; } }

.section.courses .has_2_cols .col {
  display: flex;
  flex-direction: column; }
  .section.courses .has_2_cols .col .cta {
    margin-top: auto; }

.has_3_cols {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-bottom: 45px; }
  @media (min-width: 768px) {
    .has_3_cols {
      flex-direction: row; } }
  .has_3_cols .col {
    width: 100%;
    text-align: center; }
    @media (min-width: 768px) {
      .has_3_cols .col {
        max-width: 33%;
        padding: 0 10px; } }
    .has_3_cols .col h4 {
      font-family: Lato-Regular; }
    .has_3_cols .col .cta {
      padding: 20px; }
      .has_3_cols .col .cta a {
        color: #c24b7f;
        font-size: 16px;
        font-family: Lato-Regular;
        border: 0;
        background: none;
        cursor: pointer;
        text-decoration: underline;
        background: #c24b7f;
        color: #fff !important;
        font-family: 'Lato-Bold';
        border-radius: 5px;
        letter-spacing: 1.55px;
        padding: 10px 15px;
        position: relative;
        width: 100%;
        text-decoration: none;
        text-align: center;
        width: auto;
        display: inline-block; }

.pull_quote {
  padding: 10px 0 60px;
  clear: both; }
  @media (min-width: 768px) {
    .pull_quote {
      padding: 30px 0 60px; } }
  .pull_quote h2 {
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .pull_quote h2:after {
      content: "";
      border-bottom: 2px solid #c24b7f;
      height: 1px;
      margin: 0 0 25px;
      padding: 25px 0 0;
      width: 100%; }
      @media (min-width: 768px) {
        .pull_quote h2:after {
          width: 400px; } }
  .pull_quote .text {
    font-size: 25px;
    font-family: Lato-Regular;
    font-weight: normal;
    margin: 0;
    padding: 20px;
    text-align: center;
    letter-spacing: 1.55px;
    line-height: 35px; }
    @media (min-width: 768px) {
      .pull_quote .text {
        padding: 0 0 20px; } }
  .pull_quote .quote_by {
    font-size: 25px;
    font-family: Lato-Bold;
    font-weight: normal;
    text-align: center;
    letter-spacing: 1.55px; }
  .pull_quote.left h2 {
    align-items: flex-start;
    padding-bottom: 20px !important;
    margin-bottom: 20px;
    text-align: left;
    border-bottom: 2px solid #c24b7f; }
  .pull_quote.left .text {
    text-align: left;
    letter-spacing: inherit; }
  .pull_quote.left .quote_by {
    text-align: left; }
  .pull_quote--sidebar {
    margin: 0 !important; }
    .pull_quote--sidebar h2:after {
      display: none; }

.content .pull_quote {
  margin: 0 auto;
  max-width: 680px;
  padding-bottom: 45px;
  width: 100%; }
  .content .pull_quote h2 {
    padding-bottom: 0; }
  .content .pull_quote .text {
    font-size: 18px;
    font-family: Lato-Light;
    padding-bottom: 0;
    line-height: 22px; }
  .content .pull_quote .quote_by {
    font-size: 18px;
    font-family: Lato-regular; }

.link_box {
  text-align: center;
  padding: 45px 0; }
  .link_box a {
    color: #c24b7f;
    font-size: 16px;
    font-family: Lato-Regular;
    border: 0;
    background: none;
    cursor: pointer;
    text-decoration: underline;
    background: #c24b7f;
    color: #fff !important;
    font-family: 'Lato-Bold';
    border-radius: 5px;
    letter-spacing: 1.55px;
    padding: 10px 15px;
    position: relative;
    width: 100%;
    text-decoration: none;
    text-align: center;
    width: auto; }

.bordered {
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .bordered:after {
    content: "";
    border-bottom: 2px solid #c24b7f;
    height: 1px;
    margin: 0 0 25px;
    padding: 25px 0 0;
    width: 400px; }

.section.content h2 {
  padding: 20px 0 40px; }

.course_date_container .course_item {
  padding-bottom: 15px;
  float: left;
  width: 100%;
  display: block; }
  .course_date_container .course_item span {
    display: block; }
  @media (min-width: 768px) {
    .course_date_container .course_item {
      width: 50%;
      padding-right: 20px; } }

.su-tabs-nav span.su-tabs-current {
  background: #fff !important;
  cursor: default;
  border: 1px solid #eee; }

.col.col_right.has_form form fieldset {
  border: 0;
  padding: 0;
  margin: 0; }

.col.col_right.has_form form ul {
  padding: 0;
  width: 100%;
  max-width: 100%; }

.col.col_right.has_form form div {
  width: 100%;
  float: left;
  padding: 22px 0 19px; }
  .col.col_right.has_form form div div {
    width: 100%;
    padding: 9px 0; }
    .col.col_right.has_form form div div div {
      padding: 0; }

.col.col_right.has_form form .radio span {
  align-items: center;
  display: flex;
  flex-direction: row;
  float: left;
  justify-content: center;
  position: relative;
  width: 100%;
  padding: 0 22px 0 0; }
  .col.col_right.has_form form .radio span:before {
    border-radius: 100%;
    border: 1px solid #212121;
    content: "";
    float: left;
    height: 20px;
    position: relative;
    width: 20px; }
  .col.col_right.has_form form .radio span.checked:after {
    border-radius: 100%;
    border: none;
    content: "";
    float: left;
    height: 12px;
    position: absolute;
    width: 12px;
    background: #212121; }

.col.col_right.has_form form .response a {
  width: 100%;
  float: left; }

.col.col_right.has_form form.page2 div {
  padding: 0 0 19px; }
  .col.col_right.has_form form.page2 div input {
    border: 1px solid #212121;
    padding: 9px 11px; }

.col.col_right.has_form .nf-form-title,
.col.col_right.has_form .nf-before-form-content,
.col.col_right.has_form .nf-mp-header {
  display: none; }

.col.col_right.has_form ul {
  padding-left: 0 !important; }

.col.col_right.has_form .listradio-wrap label {
  padding-left: 30px;
  position: relative;
  margin-left: -6px; }
  .col.col_right.has_form .listradio-wrap label:before {
    border-radius: 100%;
    border: 1px solid #212121;
    content: "";
    float: left;
    height: 20px;
    position: absolute;
    width: 20px;
    left: 0;
    top: 0; }
  .col.col_right.has_form .listradio-wrap label.nf-checked-label:after {
    border-radius: 100%;
    border: none;
    content: "";
    float: left;
    height: 12px;
    position: absolute;
    width: 12px;
    background: #212121;
    left: 4px;
    top: 4px; }

.col.col_right.has_form input[type=submit],
.col.col_right.has_form .nf-next,
.col.col_right.has_form .nf-previous-item {
  color: #c24b7f;
  font-size: 16px;
  font-family: Lato-Regular;
  border: 0;
  background: none;
  cursor: pointer;
  text-decoration: underline;
  background: #c24b7f;
  color: #fff;
  font-family: 'Lato-Bold';
  border-radius: 5px;
  letter-spacing: 1.55px;
  padding: 10px 15px;
  position: relative;
  width: 100%;
  float: left;
  text-decoration: none;
  text-align: center; }

.col.col_right.has_form .submit-wrap input {
  color: #c24b7f;
  font-size: 16px;
  font-family: Lato-Regular;
  border: 0;
  background: none;
  cursor: pointer;
  text-decoration: underline;
  background: #c24b7f;
  color: #fff !important;
  font-family: 'Lato-Bold';
  border-radius: 5px;
  letter-spacing: 1.55px;
  padding: 10px 15px;
  position: relative;
  width: 100%;
  text-decoration: none;
  text-align: center;
  width: auto; }

.nf-previous,
.submit-wrap input {
  color: #c24b7f !important;
  font-size: 16px;
  font-family: Lato-Regular;
  border: 0;
  background: none;
  cursor: pointer; }

.nf-field-element input[type=text],
.nf-field-element input[type=email],
.nf-field-element input[type=tel],
select {
  border: 1px solid #212121;
  padding: 9px 11px;
  -webkit-appearance: none;
  border-radius: 0;
  color: #333;
  font-size: 14px;
  font-weight: 300;
  outline: 0; }

.nf-mp-footer {
  display: none; }

.nf-form-cont.hide_next .nf-next-item {
  display: none; }

.nf-form-cont.hide_prev .nf-previous-item {
  display: none; }

.nf-form-cont.hide_footer .nf-mp-footer {
  display: none !important; }

.submit-wrap input {
  text-decoration: underline;
  color: #c24b7f;
  font-size: 16px;
  font-family: Lato-Regular;
  border: 0;
  background: none;
  cursor: pointer;
  text-decoration: underline;
  background: #c24b7f;
  color: #fff !important;
  font-family: 'Lato-Bold';
  border-radius: 5px;
  letter-spacing: 1.55px;
  padding: 10px 15px;
  position: relative;
  width: 100%;
  text-decoration: none;
  text-align: center;
  width: auto; }

.list-checkbox-wrap .nf-field-element li input,
.list-radio-wrap .nf-field-element li input {
  display: none; }

form.js-cm-form label {
  font-weight: 700;
  margin: 0;
  padding: 0; }

form.js-cm-form input[type=text], form.js-cm-form input[type=email], form.js-cm-form select {
  border: 1px solid #212121;
  padding: 9px 11px;
  -webkit-appearance: none;
  border-radius: 0;
  color: #333;
  font-size: 14px;
  font-weight: 300;
  outline: 0;
  min-width: 500px;
  max-width: 100%; }

form.js-cm-form input[type=submit],
form.js-cm-form .js-cm-submit-button {
  color: #c24b7f !important;
  font-size: 16px;
  font-family: Lato-Regular;
  border: 0;
  background: none;
  cursor: pointer;
  color: #c24b7f;
  font-size: 16px;
  font-family: Lato-Regular;
  border: 0;
  background: none;
  cursor: pointer;
  text-decoration: underline;
  background: #c24b7f;
  color: #fff !important;
  font-family: 'Lato-Bold';
  border-radius: 5px;
  letter-spacing: 1.55px;
  padding: 10px 15px;
  position: relative;
  width: 100%;
  text-decoration: none;
  text-align: center;
  width: auto; }

form.js-cm-form .submit-wrap input {
  color: #c24b7f;
  font-size: 16px;
  font-family: Lato-Regular;
  border: 0;
  background: none;
  cursor: pointer;
  text-decoration: underline;
  background: #c24b7f;
  color: #fff !important;
  font-family: 'Lato-Bold';
  border-radius: 5px;
  letter-spacing: 1.55px;
  padding: 10px 15px;
  position: relative;
  width: 100%;
  text-decoration: none;
  text-align: center;
  width: auto; }

form.js-cm-form textarea {
  -webkit-appearance: none;
  border-radius: 0;
  color: #333;
  font-size: 14px;
  font-weight: 300;
  outline: none;
  margin: 0;
  width: auto;
  height: auto;
  vertical-align: inherit;
  min-width: 500px;
  max-width: 100%; }

form.js-cm-form fieldset {
  border: 0;
  padding: 0;
  margin: 0; }

form.js-cm-form ul {
  padding: 0;
  width: 100%;
  max-width: 100%; }

form.js-cm-form div {
  width: 100%;
  float: left;
  padding: 22px 0 19px; }
  form.js-cm-form div div {
    width: 100%;
    padding: 9px 0; }
    form.js-cm-form div div div {
      width: auto;
      padding: 0; }

form.js-cm-form .radio span {
  align-items: center;
  display: flex;
  flex-direction: row;
  float: left;
  justify-content: center;
  position: relative;
  width: 100%;
  padding: 0 22px 0 0; }
  form.js-cm-form .radio span:before {
    border-radius: 100%;
    border: 1px solid #212121;
    content: "";
    float: left;
    height: 20px;
    position: relative;
    width: 20px; }
  form.js-cm-form .radio span.checked:after {
    border-radius: 100%;
    border: none;
    content: "";
    float: left;
    height: 12px;
    position: absolute;
    width: 12px;
    background: #212121; }

#nf-form-13-cont .nf-form-title,
#nf-form-13-cont .nf-form-fields-required,
#nf-form-12-cont .nf-form-title,
#nf-form-12-cont .nf-form-fields-required {
  display: none; }

#nf-form-13-cont .submit-wrap input,
#nf-form-12-cont .submit-wrap input {
  color: #c24b7f;
  font-size: 16px;
  font-family: Lato-Regular;
  border: 0;
  background: none;
  cursor: pointer;
  text-decoration: underline;
  background: #c24b7f;
  color: #fff !important;
  font-family: 'Lato-Bold';
  border-radius: 5px;
  letter-spacing: 1.55px;
  padding: 10px 15px;
  position: relative;
  width: 100%;
  text-decoration: none;
  text-align: center;
  width: auto; }

#nf-form-13-cont form fieldset,
#nf-form-12-cont form fieldset {
  border: 0;
  padding: 0;
  margin: 0; }

#nf-form-13-cont form ul,
#nf-form-12-cont form ul {
  padding: 0;
  width: 100%;
  max-width: 100%; }

#nf-form-13-cont form div,
#nf-form-12-cont form div {
  width: 100%;
  float: left;
  padding: 22px 0 19px; }
  #nf-form-13-cont form div div,
  #nf-form-12-cont form div div {
    width: 100%;
    padding: 9px 0; }
    #nf-form-13-cont form div div div,
    #nf-form-12-cont form div div div {
      padding: 0; }

#nf-form-13-cont form .radio span,
#nf-form-12-cont form .radio span {
  align-items: center;
  display: flex;
  flex-direction: row;
  float: left;
  justify-content: center;
  position: relative;
  width: 100%;
  padding: 0 22px 0 0; }
  #nf-form-13-cont form .radio span:before,
  #nf-form-12-cont form .radio span:before {
    border-radius: 100%;
    border: 1px solid #212121;
    content: "";
    float: left;
    height: 20px;
    position: relative;
    width: 20px; }
  #nf-form-13-cont form .radio span.checked:after,
  #nf-form-12-cont form .radio span.checked:after {
    border-radius: 100%;
    border: none;
    content: "";
    float: left;
    height: 12px;
    position: absolute;
    width: 12px;
    background: #212121; }

#nf-form-13-cont form .response a,
#nf-form-12-cont form .response a {
  width: 100%;
  float: left; }

#nf-form-13-cont form.page2 div,
#nf-form-12-cont form.page2 div {
  padding: 0 0 19px; }
  #nf-form-13-cont form.page2 div input,
  #nf-form-12-cont form.page2 div input {
    border: 1px solid #212121;
    padding: 9px 11px; }

.footer {
  background: black;
  height: 200px;
  width: 100%;
  display: flex;
  color: white;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .footer div {
    text-align: center; }
  .footer a {
    color: white; }

.section.intro {
  padding-top: 30px; }
  .section.intro a {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    color: #212121; }
    .section.intro a .icon {
      margin: auto; }
    .section.intro a .title {
      text-align: center; }
    .section.intro a .text {
      text-align: center; }

.section.courses {
  padding-top: 30px; }
  .section.courses h2 {
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .section.courses h2:after {
      content: "";
      border-bottom: 2px solid #c24b7f;
      height: 1px;
      margin: 0 0 25px;
      padding: 25px 0 0;
      width: 100%; }
      @media (min-width: 768px) {
        .section.courses h2:after {
          width: 400px; } }

.section.pull_quote {
  position: relative; }

.testimonials_slider .owl-prev {
  display: block;
  width: 40px;
  height: 40px;
  position: absolute;
  left: -50px;
  top: 20px;
  background: url(../images/slider_arrow_left_grey.png) no-repeat center center;
  overfow: hidden;
  text-indent: -9999px; }

.testimonials_slider .owl-next {
  display: block;
  width: 40px;
  height: 40px;
  position: absolute;
  right: -50px;
  top: 20px;
  background: url(../images/slider_arrow_right_grey.png) no-repeat center center;
  overfow: hidden;
  text-indent: -9999px; }

.page_blue .site_header {
  background: url(../images/header2.png) no-repeat center; }
  .page_blue .site_header h1 {
    color: #5b799f;
    text-shadow: none; }

.page_pink .site_header {
  background: url(../images/header2.png) no-repeat center; }
  .page_pink .site_header h1 {
    color: #c24b7f;
    text-shadow: none; }

.page_gold .site_header {
  background: url(../images/header2.png) no-repeat center; }
  .page_gold .site_header h1 {
    color: #846a35;
    text-shadow: none; }

.page_red .site_header {
  background: url(../images/header2.png) no-repeat center; }
  .page_red .site_header h1 {
    color: #d0430d;
    text-shadow: none; }

.page_avo .site_header {
  background: url(../images/header2.png) no-repeat center; }
  .page_avo .site_header h1 {
    color: #c9a252;
    text-shadow: none; }

.page_char .site_header {
  background: url(../images/header2.png) no-repeat center; }
  .page_char .site_header h1 {
    color: #454642;
    text-shadow: none; }

.page_green .site_header {
  background: url(../images/header2.png) no-repeat center; }
  .page_green .site_header h1 {
    color: #7fb147;
    text-shadow: none; }

.page_yellow .site_header {
  background: url(../images/header2.png) no-repeat center; }
  .page_yellow .site_header h1 {
    color: #fdf046;
    text-shadow: none; }

.page_purple .site_header {
  background: url(../images/header2.png) no-repeat center; }
  .page_purple .site_header h1 {
    color: #d388eb;
    text-shadow: none; }

.page_lightpurple .site_header {
  background: url(../images/header2.png) no-repeat center; }
  .page_lightpurple .site_header h1 {
    color: #e8befd;
    text-shadow: none; }

.page_orange .site_header {
  background: url(../images/header2.png) no-repeat center; }
  .page_orange .site_header h1 {
    color: #f1a93a;
    text-shadow: none; }

.page_teal .site_header {
  background: url(../images/header2.png) no-repeat center; }
  .page_teal .site_header h1 {
    color: #19b0f0;
    text-shadow: none; }

.page_newpurple .site_header {
  background: url(../images/header2.png) no-repeat center; }
  .page_newpurple .site_header h1 {
    color: #9416da;
    text-shadow: none; }

.footer_orange {
  background: url(../images/footer/orange.png) no-repeat 0 bottom/100% auto; }

.footer_blue {
  background: url(../images/footer/navy-blue.png) no-repeat 0 bottom/100% auto; }

.footer_yellow {
  background: url(../images/footer/yellow.png) no-repeat 0 bottom/100% auto; }

.footer_green {
  background: url(../images/footer/green.png) no-repeat 0 bottom/100% auto; }

.footer_purple {
  background: url(../images/footer/purple.png) no-repeat 0 bottom/100% auto; }

.footer_lightpurple {
  background: url(../images/footer/light-purple.png) no-repeat 0 bottom/100% auto; }

.footer_red {
  background: url(../images/footer/red.png) no-repeat 0 bottom/100% auto; }

.footer_teal {
  background: url(../images/footer/teal.jpg) no-repeat 0 bottom/100% auto; }

.footer_newpurple {
  background: url(../images/footer/purple2.jpg) no-repeat 0 bottom/100% auto; }

/*# sourceMappingURL=maps/main.css.map */
