.link_box {
	text-align: center;
	padding: 45px 0;

	a{
		color: #c24b7f;
		font-size: 16px;
		font-family: Lato-Regular;
		border: 0;
		background: none;
		cursor: pointer;
		text-decoration: underline;
		background: #c24b7f;
		color: #fff !important;
		font-family: 'Lato-Bold';
		border-radius: 5px;
		letter-spacing: 1.55px;
		padding: 10px 15px;
		position: relative;
		width: 100%;
		text-decoration: none;
		text-align: center;
		width: auto;
	}
}

.bordered {
	text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

	&:after {
		content: "";
	    border-bottom: 2px solid $pink;
	    height: 1px;
	    margin: 0 0 25px;
	    padding: 25px 0 0;
	    width: 400px;
	}
}

.section.content{
	h2{
		    padding: 20px 0 40px;
	}
}

.course_dates.venue{
	//padding-bottom:15px;
}


.course_date_container{

	.course_item{
		padding-bottom:15px;
		float:left;
		width:100%;
		display: block;

		span{
			display: block;
		}

		@media (min-width: $screen-sm) {
			width:50%;
			padding-right:20px;
		}
	}
}

.su-tabs-nav span.su-tabs-current {
    background: #fff !important;
    cursor: default;
    border: 1px solid #eee;
}