
.footer {
	background: black;
	height:200px;
	width:100%;
	display: flex;
	color:white;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	div{
		text-align:center;
	}

	a{
		color:white;
	}
}