.col {
	&.col_right {
		&.has_form {
			form {
				fieldset {
					border: 0;
					padding: 0;
					margin: 0;
				}

				ul {
					padding: 0;
					width: 100%;
					max-width: 100%;
				}

				div {
					width: 100%;
					float: left;
					padding: 22px 0 19px;

					div {
						width: 100%;
						padding: 9px 0;

						div {
							//width: auto;
							padding: 0;
						}
					}
				}

				.radio {
					span {
					    align-items: center;
					    display: flex;
					    flex-direction: row;
					    float: left;
					    justify-content: center;
					    position: relative;
					    width: 100%;
					    padding: 0 22px 0 0;

						&:before {
						    border-radius: 100%;
						    border: 1px solid #212121;
						    content: "";
						    float: left;
						    height: 20px;
						    position: relative;
						    width: 20px;
						}

						&.checked {
							&:after {
						       border-radius: 100%;
							   border: none;
							   content: "";
							   float: left;
							   height: 12px;
							   position: absolute;
							   width: 12px;
							   background: #212121;
							}
						}
					}
				}


				.response {
					a {
						width: 100%;
						float: left;
					}
				}

				&.page2 {
					div {
						padding: 0 0 19px;

						input {
							border: 1px solid #212121;
							padding: 9px 11px;
						}
					}
				}
			}

			.nf-form-title,
			.nf-before-form-content,
			.nf-mp-header{
				display:none;
			}
			ul{
				padding-left:0!important;
			}

			.listradio-wrap{
					label{
						padding-left:30px;
						position: relative;
						margin-left:-6px;

						&:before {
						    border-radius: 100%;
						    border: 1px solid #212121;
						    content: "";
						    float: left;
						    height: 20px;
						    position: absolute;
						    width: 20px;
						    left:0;
						    top:0;
						}

						&.nf-checked-label {
							&:after {
								border-radius: 100%;
								border: none;
								content: "";
								float: left;
								height: 12px;
								position: absolute;
								width: 12px;
								background: #212121;
								left: 4px;
								top: 4px;

							}
						}

					}
				}

				input[type=submit],
				.nf-next,
				.nf-previous-item{
					color: #c24b7f;
					font-size: 16px;
					font-family: Lato-Regular;
					border:0;
					background: none;
					cursor:pointer;
					text-decoration:underline;
					background: #c24b7f;
					color: #fff;
					font-family: 'Lato-Bold';
					border-radius: 5px;
					letter-spacing: 1.55px;
					padding: 10px 15px;
					position: relative;
					width: 100%;
					float: left;
					text-decoration: none;
					text-align: center;
				}

				.submit-wrap{
					input{
						color: #c24b7f;
					font-size: 16px;
					font-family: Lato-Regular;
					border:0;
					background: none;
					cursor:pointer;
					text-decoration:underline;
					background: #c24b7f;
					color: #fff !important;
					font-family: 'Lato-Bold';
					border-radius: 5px;
					letter-spacing: 1.55px;
					padding: 10px 15px;
					position: relative;
					width: 100%;
					text-decoration: none;
					text-align: center;
					width:auto;
					}
				}

		}
	}
}

.nf-previous,
.submit-wrap input{
	color: #c24b7f !important;
	font-size: 16px;
	font-family: Lato-Regular;
	border:0;
	background: none;
	cursor:pointer;
}


.nf-field-element input[type=text],
.nf-field-element input[type=email],
.nf-field-element input[type=tel],
select{
	    border: 1px solid #212121;
padding: 9px 11px;
    -webkit-appearance: none;
border-radius: 0;
color: #333;
font-size: 14px;
font-weight: 300;
outline: 0;
}


.nf-mp-footer{
	display: none;
}

.nf-form-cont{
	&.hide_next{
		.nf-next-item{
			display:none;
		}
	}
	&.hide_prev{
		.nf-previous-item{
			display:none;
		}
	}
	&.hide_footer{
		.nf-mp-footer{
			display:none !important;
		}
	}
}

.submit-wrap{
	input{
		    text-decoration: underline;
		     color: #c24b7f;
		font-size: 16px;
		font-family: Lato-Regular;
		border: 0;
		background: none;
		cursor: pointer;
		text-decoration: underline;
		background: #c24b7f;
		color: #fff !important;
		font-family: 'Lato-Bold';
		border-radius: 5px;
		letter-spacing: 1.55px;
		padding: 10px 15px;
		position: relative;
		width: 100%;
		text-decoration: none;
		text-align: center;
		width: auto;
	}
}

.list-checkbox-wrap .nf-field-element li input, 
.list-radio-wrap .nf-field-element li input{
	display:none;

}

form.js-cm-form{
	label {
    font-weight: 700;
    margin: 0;
    padding: 0;
}
input[type=text], input[type=email], select {
    border: 1px solid #212121;
    padding: 9px 11px;
    -webkit-appearance: none;
    border-radius: 0;
    color: #333;
    font-size: 14px;
    font-weight: 300;
    outline: 0;
    min-width:500px;
    max-width:100%;
}
input[type=submit],
.js-cm-submit-button{
	color: #c24b7f !important;
    font-size: 16px;
    font-family: Lato-Regular;
    border: 0;
    background: none;
    cursor: pointer;

    color: #c24b7f;
		font-size: 16px;
		font-family: Lato-Regular;
		border: 0;
		background: none;
		cursor: pointer;
		text-decoration: underline;
		background: #c24b7f;
		color: #fff !important;
		font-family: 'Lato-Bold';
		border-radius: 5px;
		letter-spacing: 1.55px;
		padding: 10px 15px;
		position: relative;
		width: 100%;
		text-decoration: none;
		text-align: center;
		width: auto;
}

.submit-wrap input{
    color: #c24b7f;
		font-size: 16px;
		font-family: Lato-Regular;
		border: 0;
		background: none;
		cursor: pointer;
		text-decoration: underline;
		background: #c24b7f;
		color: #fff !important;
		font-family: 'Lato-Bold';
		border-radius: 5px;
		letter-spacing: 1.55px;
		padding: 10px 15px;
		position: relative;
		width: 100%;
		text-decoration: none;
		text-align: center;
		width: auto;
}


textarea {
	    -webkit-appearance: none;
    border-radius: 0;
    color: #333;
    font-size: 14px;
    font-weight: 300;
    outline: none;
    margin: 0;
    width: auto;
    height: auto;
    vertical-align: inherit;
     min-width:500px;
    max-width:100%;
}

				fieldset {
					border: 0;
					padding: 0;
					margin: 0;
				}

				ul {
					padding: 0;
					width: 100%;
					max-width: 100%;
				}

				div {
					width: 100%;
					float: left;
					padding: 22px 0 19px;

					div {
						width: 100%;
						padding: 9px 0;

						div {
							width: auto;
							padding: 0;
						}
					}
				}

				.radio {
					span {
					    align-items: center;
					    display: flex;
					    flex-direction: row;
					    float: left;
					    justify-content: center;
					    position: relative;
					    width: 100%;
					    padding: 0 22px 0 0;

						&:before {
						    border-radius: 100%;
						    border: 1px solid #212121;
						    content: "";
						    float: left;
						    height: 20px;
						    position: relative;
						    width: 20px;
						}

						&.checked {
							&:after {
						       border-radius: 100%;
							   border: none;
							   content: "";
							   float: left;
							   height: 12px;
							   position: absolute;
							   width: 12px;
							   background: #212121;
							}
						}
					}
				}



}

#nf-form-13-cont,
#nf-form-12-cont{
	.nf-form-title,
	.nf-form-fields-required{
		display:none;
	}
	.submit-wrap{
		input{
			color: #c24b7f;
			font-size: 16px;
			font-family: Lato-Regular;
			border: 0;
			background: none;
			cursor: pointer;
			text-decoration: underline;
			background: #c24b7f;
			color: #fff !important;
			font-family: 'Lato-Bold';
			border-radius: 5px;
			letter-spacing: 1.55px;
			padding: 10px 15px;
			position: relative;
			width: 100%;
			text-decoration: none;
			text-align: center;
			width: auto
		}
	}
	form {
		fieldset {
			border: 0;
			padding: 0;
			margin: 0;
		}

		ul {
			padding: 0;
			width: 100%;
			max-width: 100%;
		}

		div {
			width: 100%;
			float: left;
			padding: 22px 0 19px;

			div {
				width: 100%;
				padding: 9px 0;

				div {
					//width: auto;
					padding: 0;
				}
			}
		}

		.radio {
			span {
				align-items: center;
				display: flex;
				flex-direction: row;
				float: left;
				justify-content: center;
				position: relative;
				width: 100%;
				padding: 0 22px 0 0;

				&:before {
					border-radius: 100%;
					border: 1px solid #212121;
					content: "";
					float: left;
					height: 20px;
					position: relative;
					width: 20px;
				}

				&.checked {
					&:after {
						border-radius: 100%;
						border: none;
						content: "";
						float: left;
						height: 12px;
						position: absolute;
						width: 12px;
						background: #212121;
					}
				}
			}
		}


		.response {
			a {
				width: 100%;
				float: left;
			}
		}

		&.page2 {
			div {
				padding: 0 0 19px;

				input {
					border: 1px solid #212121;
					padding: 9px 11px;
				}
			}
		}
	}
}