.has_3_cols {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	width: 100%;
	padding-bottom: 45px;

	@media (min-width: $screen-sm) {
		flex-direction: row;
	}

	.col {
		width: 100%;
		text-align: center;

		@media (min-width: $screen-sm) {
			max-width: 33%;
			padding: 0 10px;
		}

		h4 {
			font-family: Lato-Regular;
		}

		.cta {
			padding: 20px;

			a{
				color: #c24b7f;
				font-size: 16px;
				font-family: Lato-Regular;
				border: 0;
				background: none;
				cursor: pointer;
				text-decoration: underline;
				background: #c24b7f;
				color: #fff !important;
				font-family: 'Lato-Bold';
				border-radius: 5px;
				letter-spacing: 1.55px;
				padding: 10px 15px;
				position: relative;
				width: 100%;
				text-decoration: none;
				text-align: center;
				width: auto;
				display:inline-block;
			}
		}
	}
}