.has_2_cols {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	padding: 0 20px;

	@media (min-width: $screen-sm) {
		flex-direction: row;
		padding: 0;
	}


	&.intro {
		.col {
			align-items: center;
		}
		.icon {
			max-width: 100px;

			img {
				height: 100px;
				width: auto;
			}
		}
		.text {
			font-size: 23px;
			font-family: 'Lato-Regular';
			font-weight: normal;
			text-align: center;
		}

	}

	.col {
		display: flex;
		flex-direction: column;
		width: 100%;
		padding: 0 0 20px;
		
		@media (min-width: $screen-sm) {
			max-width: 50%;
			padding: 0 40px 30px 0px;
		}

		&:nth-child(2n+2) {
			@media (min-width: $screen-sm) {
				padding: 0 0 30px 40px;
			}
		}

		.icon {
			padding-bottom: 20px;
		}

		.title {
			text-align: left;
		}

		.text {
			font-size: 16px;
			font-family: 'Lato-Light';
			font-weight: normal;
			padding: 0 0 10px;
		}

		.cta {
			a {

			}
		}

		&.col-2_3{
			width:66.6%;
			max-width:66.6%;

			@media (max-width: $screen-sm) {
				width:100%;
				max-width:100%;
			}
		}
		&.col-1_3{
			width:33.3%;
			max-width:33.3%;

			@media (max-width: $screen-sm) {
				width:100%;
				max-width:100%;
			}
		}
		&.col_right{
			h2{
				    padding: 20px 0 10px;
			}
		}
	}

	&.content {
		padding: 0px;
		.col {
			@media (min-width: $screen-sm) {
				padding: 0 67px 0 0;
			}

			&:nth-child(2n) {
				@media (min-width: $screen-sm) {
					padding: 0 0 0 67px;
				}
			}

			&.col_left{
				@media (min-width: $screen-sm) {
					//padding-top:90px;
					padding-top:10px;
				}
			}
		}
		h2 {
			text-align: left;
			&:after {
				display: none;
			}
		}

		ul {
			&:first-of-type {
				@media (min-width: $screen-sm) {
					padding-left: 23px;
				}
			}
		}
	}
}

.section.courses{
	.has_2_cols .col{
		display: flex;
		flex-direction: column;

		.cta{
			margin-top: auto;
		}
	}
}