.pull_quote {
	padding: 10px 0 60px;
	clear: both;

	@media (min-width: $screen-sm) {
		padding: 30px 0 60px;
	}
	h2 {
		text-align: center;
	    align-items: center;
	    display: flex;
	    flex-direction: column;
	    justify-content: center;

		&:after {
			content: "";
		    border-bottom: 2px solid $pink;
		    height: 1px;
		    margin: 0 0 25px;
		    padding: 25px 0 0;
			width: 100%;
		    @media (min-width: $screen-sm) {
		    	width: 400px;
		    }
		}
	}

	.text {
		font-size: 25px;
		font-family: Lato-Regular;
		font-weight: normal;
		margin: 0;
		padding: 20px;
		text-align: center;
		letter-spacing: 1.55px;
		line-height: 35px;
		@media (min-width: $screen-sm) {
			padding: 0 0 20px;
		}
	}

	.quote_by {
		font-size: 25px;
		font-family: Lato-Bold;
		font-weight: normal;
		text-align: center;
		letter-spacing: 1.55px;
	}

	&.left {
		h2 {
			align-items: flex-start;
			padding-bottom: 20px !important;
			margin-bottom:20px;
			text-align: left;
			border-bottom: 2px solid $pink;
		}

		.text {
			text-align: left;
			letter-spacing: inherit;
		}

		.quote_by {
			text-align: left;
		}
	}

	&--sidebar{
		margin:0 !important;

		h2{
			&:after{
				display: none;
			}
		}
	}
}

.content {
	.pull_quote {
		margin: 0 auto;
		max-width: 680px;
		padding-bottom: 45px;
		    width: 100%;

		h2 {
			padding-bottom: 0;
		}
		.text {
			font-size: 18px;
			font-family: Lato-Light;
			padding-bottom: 0;
			line-height: 22px;
		}

		.quote_by {
			font-size: 18px;
			font-family: Lato-regular;
		}
	}
}