.page_blue {
	.site_header {
		background: url(../images/header2.png) no-repeat center;
		h1 {
			color: $blue;
			text-shadow: none;
		}
	}
}

.page_pink {
	.site_header {
		background: url(../images/header2.png) no-repeat center;
		h1 {
			color: $pink;
			text-shadow: none;
		}
	}
}

.page_gold {
	.site_header {
		background: url(../images/header2.png) no-repeat center;
		h1 {
			color: $gold;
			text-shadow: none;
		}
	}
}

.page_red {
	.site_header {
		background: url(../images/header2.png) no-repeat center;
		h1 {
			color: $red;
			text-shadow: none;
		}
	}
}

.page_avo {
	.site_header {
		background: url(../images/header2.png) no-repeat center;
		h1 {
			color: $avo;
			text-shadow: none;
		}
	}
}

.page_char {
	.site_header {
		background: url(../images/header2.png) no-repeat center;
		h1 {
			color: $char;
			text-shadow: none;
		}
	}
}

.page_green {
	.site_header {
		background: url(../images/header2.png) no-repeat center;
		h1 {
			color: $green;
			text-shadow: none;
		}
	}
}

.page_yellow {
	.site_header {
		background: url(../images/header2.png) no-repeat center;
		h1 {
			color: $yellow;
			text-shadow: none;
		}
	}
}

.page_purple {
	.site_header {
		background: url(../images/header2.png) no-repeat center;
		h1 {
			color: $purple;
			text-shadow: none;
		}
	}
}

.page_lightpurple {
	.site_header {
		background: url(../images/header2.png) no-repeat center;
		h1 {
			color: $lightpurple;
			text-shadow: none;
		}
	}
}

.page_orange {
	.site_header {
		background: url(../images/header2.png) no-repeat center;
		h1 {
			color: $orange;
			text-shadow: none;
		}
	}
}

.page_teal {
	.site_header {
		background: url(../images/header2.png) no-repeat center;
		h1 {
			color: $teal;
			text-shadow: none;
		}
	}
}

.page_newpurple {
	.site_header {
		background: url(../images/header2.png) no-repeat center;
		h1 {
			color: $newpurple;
			text-shadow: none;
		}
	}
}