.footer_orange {
	background: url(../images/footer/orange.png) no-repeat 0 bottom / 100% auto;
}
.footer_blue {
	background: url(../images/footer/navy-blue.png) no-repeat 0 bottom / 100% auto;
}
.footer_yellow {
	background: url(../images/footer/yellow.png) no-repeat 0 bottom / 100% auto;
}
.footer_green {
	background: url(../images/footer/green.png) no-repeat 0 bottom / 100% auto;
}
.footer_purple {
	background: url(../images/footer/purple.png) no-repeat 0 bottom / 100% auto;
}
.footer_lightpurple {
	background: url(../images/footer/light-purple.png) no-repeat 0 bottom / 100% auto;
}
.footer_red {
	background: url(../images/footer/red.png) no-repeat 0 bottom / 100% auto;
}
.footer_teal {
	background: url(../images/footer/teal.jpg) no-repeat 0 bottom / 100% auto;
}
.footer_newpurple {
	background: url(../images/footer/purple2.jpg) no-repeat 0 bottom / 100% auto;
}