.section {
	&.intro {
		padding-top: 30px;

		a{
			display: inline-block;
			text-align:center;
			text-decoration:none;
			color: #212121;

			.icon{
margin:auto;
			}
			.title{
text-align:center;
			}
			.text{
text-align:center;
			}
		}
	}
	&.courses {
		padding-top: 30px;

		h2 {
			text-align: center;
		    align-items: center;
		    display: flex;
		    flex-direction: column;
		    justify-content: center;

			&:after {
				content: "";
			    border-bottom: 2px solid $pink;
			    height: 1px;
			    margin: 0 0 25px;
			    padding: 25px 0 0;
			    width: 100%;
			    @media (min-width: $screen-sm) {
			    	width: 400px;
			    }
			}
		}
	}
}

.section.pull_quote{
	position: relative;
}
.testimonials_slider{
	

	.owl-prev{
		display: block;
		width:40px;
		height:40px;
		position: absolute;
		left:-50px;
		top:20px;
		background: url(../images/slider_arrow_left_grey.png) no-repeat center center;
		overfow:hidden;
		text-indent:-9999px;
	}
	.owl-next{
		display: block;
		width:40px;
		height:40px;
		position: absolute;
		right:-50px;
		top:20px;
		background: url(../images/slider_arrow_right_grey.png) no-repeat center center;
		overfow:hidden;
		text-indent:-9999px;
	}
}