// breakpoints
$screen-xs: 480px !default;
$screen-sm: 768px !default;
$screen-md: 1024px !default;
$screen-lg: 1400px !default;

$base_font_color: #212121;

$red 	: #c14657;
$green 	: #6a8467;
$gold 	: #cfa141;
$pink 	: #c24b7f;
$blue 	: #567b95;
$avo 	: #896a2a;
$char 	: #454642;