/* generic */

.row {
	width: 100%;
	max-width: 1140px;
	margin: 0 auto;
	padding: 20px;

	@media (min-width: $screen-lg) {
		padding: 0;
	}

	&.row_wrap {
		
		align-items: center;
		display: flex;
		flex-direction: column;

		
		
	}
}

.title_red { color: $red; }
.title_pink { color: $pink; }
.title_green { color: $green; }
.title_blue { color: $blue; }
.title_gold { color: $gold; }
.title_avo { color: $avo; }
.title_char { color: $char; }

.pink_bg {
	background: $pink;
	color: #fff;
}
.button-wrapper {
	margin: 30px 0 0;
	@media (min-width: $screen-sm) {
		margin: 30px 0;
	}
	
	.big_button {
		font-family: 'Lato-Bold';
	    border-radius: 5px;
	    font-size: 13px;
	    letter-spacing: 1.55px;
	    padding: 15px 15px;
	    position: relative;
	    width: 100%;
	    float: left;
	    text-decoration: none;
	    text-align: center;

	    @media (min-width: $screen-xs) {
	    	font-size: 20px;
	    	width: auto;
	    	float: none;
	    }
	}
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.clearboth {
	clear: both;
}

.fl {
	float: left;
}

.fr {
	float: right;
}

.videowrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videowrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

	// js responsive states

	.state-indicator {
		position: absolute;
		top: -999em;
		left: -999em;
		z-index: 1;
	}

	/* tablet */
	@media all and (max-width: 992px) {
		
		.state-indicator {
			z-index: 7;
		}
	}