@font-face {
	font-family: 'Lato-ThinItalic';
	src: url('latothinitalic.eot');
	src: url('latothinitalic.eot?#iefix') format('embedded-opentype'),url('latothinitalic.svg#latothinitalic') format('svg'),url('latothinitalic.ttf') format('truetype'),url('latothinitalic.woff') format('woff'),url('latothinitalic.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Lato-Thin';
	src: url('latothin.eot');
	src: url('latothin.eot?#iefix') format('embedded-opentype'),url('latothin.svg#latothin') format('svg'),url('latothin.ttf') format('truetype'),url('latothin.woff') format('woff'),url('latothin.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Lato-SemiboldItalic';
	src: url('latosemibolditalic.eot');
	src: url('latosemibolditalic.eot?#iefix') format('embedded-opentype'),url('latosemibolditalic.svg#latosemibolditalic') format('svg'),url('latosemibolditalic.ttf') format('truetype'),url('latosemibolditalic.woff') format('woff'),url('latosemibolditalic.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Lato-Semibold';
	src: url('latosemibold.eot');
	src: url('latosemibold.eot?#iefix') format('embedded-opentype'),url('latosemibold.svg#latosemibold') format('svg'),url('latosemibold.ttf') format('truetype'),url('latosemibold.woff') format('woff'),url('latosemibold.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Lato-Regular';
	src: url('latoregular.eot');
	src: url('latoregular.eot?#iefix') format('embedded-opentype'),url('latoregular.svg#latoregular') format('svg'),url('latoregular.ttf') format('truetype'),url('latoregular.woff') format('woff'),url('latoregular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Lato-MediumItalic';
	src: url('latomediumitalic.eot');
	src: url('latomediumitalic.eot?#iefix') format('embedded-opentype'),url('latomediumitalic.svg#latomediumitalic') format('svg'),url('latomediumitalic.ttf') format('truetype'),url('latomediumitalic.woff') format('woff'),url('latomediumitalic.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Lato-Medium';
	src: url('latomedium.eot');
	src: url('latomedium.eot?#iefix') format('embedded-opentype'),url('latomedium.svg#latomedium') format('svg'),url('latomedium.ttf') format('truetype'),url('latomedium.woff') format('woff'),url('latomedium.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Lato-LightItalic';
	src: url('latolightitalic.eot');
	src: url('latolightitalic.eot?#iefix') format('embedded-opentype'),url('latolightitalic.svg#latolightitalic') format('svg'),url('latolightitalic.ttf') format('truetype'),url('latolightitalic.woff') format('woff'),url('latolightitalic.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Lato-Light';
	src: url('latolight.eot');
	src: url('latolight.eot?#iefix') format('embedded-opentype'),url('latolight.svg#latolight') format('svg'),url('latolight.ttf') format('truetype'),url('latolight.woff') format('woff'),url('latolight.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Lato-Italic';
	src: url('latoitalic.eot');
	src: url('latoitalic.eot?#iefix') format('embedded-opentype'),url('latoitalic.svg#latoitalic') format('svg'),url('latoitalic.ttf') format('truetype'),url('latoitalic.woff') format('woff'),url('latoitalic.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Lato-HeavyItalic';
	src: url('latoheavyitalic.eot');
	src: url('latoheavyitalic.eot?#iefix') format('embedded-opentype'),url('latoheavyitalic.svg#latoheavyitalic') format('svg'),url('latoheavyitalic.ttf') format('truetype'),url('latoheavyitalic.woff') format('woff'),url('latoheavyitalic.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Lato-Heavy';
	src: url('latoheavy.eot');
	src: url('latoheavy.eot?#iefix') format('embedded-opentype'),url('latoheavy.svg#latoheavy') format('svg'),url('latoheavy.ttf') format('truetype'),url('latoheavy.woff') format('woff'),url('latoheavy.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Lato-HairlineItalic';
	src: url('latohairlineitalic.eot');
	src: url('latohairlineitalic.eot?#iefix') format('embedded-opentype'),url('latohairlineitalic.svg#latohairlineitalic') format('svg'),url('latohairlineitalic.ttf') format('truetype'),url('latohairlineitalic.woff') format('woff'),url('latohairlineitalic.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Lato-Hairline';
	src: url('latohairline.eot');
	src: url('latohairline.eot?#iefix') format('embedded-opentype'),url('latohairline.svg#latohairline') format('svg'),url('latohairline.ttf') format('truetype'),url('latohairline.woff') format('woff'),url('latohairline.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Lato-BoldItalic';
	src: url('latobolditalic.eot');
	src: url('latobolditalic.eot?#iefix') format('embedded-opentype'),url('latobolditalic.svg#latobolditalic') format('svg'),url('latobolditalic.ttf') format('truetype'),url('latobolditalic.woff') format('woff'),url('latobolditalic.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Lato-Bold';
	src: url('latobold.eot');
	src: url('latobold.eot?#iefix') format('embedded-opentype'),url('latobold.svg#latobold') format('svg'),url('latobold.ttf') format('truetype'),url('latobold.woff') format('woff'),url('latobold.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Lato-BlackItalic';
	src: url('latoblackitalic.eot');
	src: url('latoblackitalic.eot?#iefix') format('embedded-opentype'),url('latoblackitalic.svg#latoblackitalic') format('svg'),url('latoblackitalic.ttf') format('truetype'),url('latoblackitalic.woff') format('woff'),url('latoblackitalic.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Lato-Black';
	src: url('latoblack.eot');
	src: url('latoblack.eot?#iefix') format('embedded-opentype'),url('latoblack.svg#latoblack') format('svg'),url('latoblack.ttf') format('truetype'),url('latoblack.woff') format('woff'),url('latoblack.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
}
