/* content */

.content {
	padding: 20px 20px 30px;

	@media (min-width: $screen-sm) {
		padding: 30px 0;
	}

	h1, h2, h3, h4, h5, h6 {
		border: 0;
		font-weight: normal;
		margin: 0;
	}

	h3{
		margin-bottom:20px;
		fot-size:18px;
		font-family: 'Lato-Bold';
		font-weight:normal;
		    font-size: 18px !important;
	}

	img {
		width: auto!important;
		max-width: 100%;
	}
		
	blockquote {
		border-left: 5px solid #cccccc;
		margin: 15px 30px 20px 10px;
		padding: 5px 0 5px 20px;
	}
				
	table {
		border: solid #cccccc;
		border-width: 1px 0 0 1px;
		margin: 0 0 20px;
		width: 100%;
	}
				
	ol {
		counter-reset: li;
		list-style: decimal;
		padding: 0 0 15px;

		li {
			margin: 0 0 0 25px;
		}
	}
			
	ul {
		padding: 0 0 15px;
		width: 100%;

		@media (min-width: $screen-md) {
			// max-width: 50%;
			// float: left;
		}

		&:first-of-type{
			@media (min-width: $screen-sm) {
				//padding-left: 83px;
			}
		}
		
		li {
			list-style: disc;
			margin: 0 0 0 25px;
		}


	}
			
	table {
		border-radius: 3px;
		-moz-border-radius: 3px;
		-khtml-border-radius: 3px;
		-webkit-border-radius: 3px;
		display: block;
			
		th, td {
			border: solid #cccccc;
			border-width: 0 1px 1px 0;
			background: #f7f7f7;
			padding: 5px;
			text-align: left;
		}
	}
	
	address {
		border-left: 5px solid #cccccc;
		margin: 15px 30px 20px 10px;
		padding: 5px 0 5px 20px;
	}
				
	.gallery {
		padding: 0 0 20px;
	}
				
	.alignleft {
		float: left;
		margin: 3px 20px 20px 0;
	}
				
	.aligncenter {
		display: block;
		margin: 0 auto 20px auto;
	}
				
	.alignright {
		float: right;
		margin: 3px 0 20px 20px;
	}
				
	.alignnone {
		display: block;
		float: none;
		margin:0 0 30px 0;
	}
			
	.size-full {
		height: auto;
		margin: 0 0 30px 0;
		width: 100%;
	}
				
	p {
		.alignleft {
			float: left;
			margin: 5px 15px 30px 0;
		}
				
		.aligncenter {
			display: block;
			margin: 5px auto 30px auto;
		}
					
		.alignright {
			float: right;
			margin:5px 0 30px 15px;
		}
					
		.alignnone {
			display: block;
			float: none;
			margin: 5px 0 30px 0;
		}
					
		.size-full {
			height: auto;
			margin: 5px 0 30px 0;
			width: 100%;
		}
	}
			
	/* start captions */
				
	.aligncenter,
	div.aligncenter {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
				
	.wp-caption {
		background-color: #f3f3f3;
		border: 1px solid #ddd;
		border-radius: 3px;
		-moz-border-radius: 3px;
		-khtml-border-radius: 3px;
		-webkit-border-radius: 3px;
		padding-top: 5px;
		text-align: center;
		max-width: 100%;
	}
				
	.wp-caption img {
		border: 0;
		display: block!important;
		margin: 0 auto!important;
		padding: 0;
		max-width: 98%;
	}
				
	.wp-caption p.wp-caption-text {
		font-size: 13px;
		line-height: 17px;
		margin: 0;
		padding: 0 4px 5px;
	}
				
	/* end captions */

}