/* base */

html {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

*, *:before, *:after {
	-moz-box-sizing: inherit;
	-webkit-box-sizing: inherit;
	box-sizing: inherit;
}

body {
	color: $base_font_color;
	font-size: 18px;
	font-family: 'Lato-Light';
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
	margin: 0;
	padding: 0;
	-webkit-text-stroke: 1px rgba(0,0,0,0);
}

img {
	border: 0;
}

h1, h2, h3, h4, h5, h6, p, form, input, ul, ol, li, header, nav, footer, section {
	list-style: none;
	margin: 0;
	padding: 0;
}
h1 {
	font-size: 60px;
}
		
h2 {
	color: $base_font_color;
	font-size: 24px;
	padding: 0 0 20px;
    font-family: 'Lato-Bold';
    font-weight: normal;
}
		
h3 {
	font-size: 35px!important;
}
		
h4 {
	font-family: 'Lato-Bold';
	font-size: 18px;
    color: #212121;
    font-weight: normal;
    letter-spacing: 1.55px;
    padding: 0 0 7px;
}
		
h5 {
	font-size: 25px;
}
		
h6 {
	font-size: 20px;
}

p {
	padding: 0 0 15px;
	font-size: 18px;
}

header, nav, footer, section {
	display: block;
}

textarea,
button,
input,
input[type="text"],
input[type="button"],
input[type="submit"] {
	-webkit-appearance: none;
	border-radius: 0;
	color: #333;
	font-size: 14px;
	font-weight: 300;
	outline: none;
}

textarea {
	resize: none;
	overflow: auto;
}

input:focus,
textarea:focus {
	outline: none;
}

table,
table td {
	border-collapse: collapse;
	border-spacing: 0;
	margin: 0;
	padding: 0;
}

a {
	color: $pink;
	font-size: 16px;
	font-family: 'Lato-Regular';
}

.section{
	a{
		&:hover{
			text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
		}
	}
}


.vid_container{
	position: relative;
	display: block;
	overflow:hidden;
}

video { 
    position: absolute;
    object-fit: cover;
    object-position: 50% 50%;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:-1;
}