@font-face {
	font-family: 'Lato-ThinItalic';
	src: url('../fonts/lato/latothinitalic.eot');
	src: url('../fonts/lato/latothinitalic.eot?#iefix') format('embedded-opentype'),url('../fonts/lato/latothinitalic.svg#latothinitalic') format('svg'),url('../fonts/lato/latothinitalic.ttf') format('truetype'),url('../fonts/lato/latothinitalic.woff') format('woff'),url('../fonts/lato/latothinitalic.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Lato-Thin';
	src: url('../fonts/lato/latothin.eot');
	src: url('../fonts/lato/latothin.eot?#iefix') format('embedded-opentype'),url('../fonts/lato/latothin.svg#latothin') format('svg'),url('../fonts/lato/latothin.ttf') format('truetype'),url('../fonts/lato/latothin.woff') format('woff'),url('../fonts/lato/latothin.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Lato-SemiboldItalic';
	src: url('../fonts/lato/latosemibolditalic.eot');
	src: url('../fonts/lato/latosemibolditalic.eot?#iefix') format('embedded-opentype'),url('../fonts/lato/latosemibolditalic.svg#latosemibolditalic') format('svg'),url('../fonts/lato/latosemibolditalic.ttf') format('truetype'),url('../fonts/lato/latosemibolditalic.woff') format('woff'),url('../fonts/lato/latosemibolditalic.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Lato-Semibold';
	src: url('../fonts/lato/latosemibold.eot');
	src: url('../fonts/lato/latosemibold.eot?#iefix') format('embedded-opentype'),url('../fonts/lato/latosemibold.svg#latosemibold') format('svg'),url('../fonts/lato/latosemibold.ttf') format('truetype'),url('../fonts/lato/latosemibold.woff') format('woff'),url('../fonts/lato/latosemibold.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Lato-Regular';
	src: url('../fonts/lato/latoregular.eot');
	src: url('../fonts/lato/latoregular.eot?#iefix') format('embedded-opentype'),url('../fonts/lato/latoregular.svg#latoregular') format('svg'),url('../fonts/lato/latoregular.ttf') format('truetype'),url('../fonts/lato/latoregular.woff') format('woff'),url('../fonts/lato/latoregular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Lato-MediumItalic';
	src: url('../fonts/lato/latomediumitalic.eot');
	src: url('../fonts/lato/latomediumitalic.eot?#iefix') format('embedded-opentype'),url('../fonts/lato/latomediumitalic.svg#latomediumitalic') format('svg'),url('../fonts/lato/latomediumitalic.ttf') format('truetype'),url('../fonts/lato/latomediumitalic.woff') format('woff'),url('../fonts/lato/latomediumitalic.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Lato-Medium';
	src: url('../fonts/lato/latomedium.eot');
	src: url('../fonts/lato/latomedium.eot?#iefix') format('embedded-opentype'),url('../fonts/lato/latomedium.svg#latomedium') format('svg'),url('../fonts/lato/latomedium.ttf') format('truetype'),url('../fonts/lato/latomedium.woff') format('woff'),url('../fonts/lato/latomedium.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Lato-LightItalic';
	src: url('../fonts/lato/latolightitalic.eot');
	src: url('../fonts/lato/latolightitalic.eot?#iefix') format('embedded-opentype'),url('../fonts/lato/latolightitalic.svg#latolightitalic') format('svg'),url('../fonts/lato/latolightitalic.ttf') format('truetype'),url('../fonts/lato/latolightitalic.woff') format('woff'),url('../fonts/lato/latolightitalic.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Lato-Light';
	src: url('../fonts/lato/latolight.eot');
	src: url('../fonts/lato/latolight.eot?#iefix') format('embedded-opentype'),url('../fonts/lato/latolight.svg#latolight') format('svg'),url('../fonts/lato/latolight.ttf') format('truetype'),url('../fonts/lato/latolight.woff') format('woff'),url('../fonts/lato/latolight.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Lato-Italic';
	src: url('../fonts/lato/latoitalic.eot');
	src: url('../fonts/lato/latoitalic.eot?#iefix') format('embedded-opentype'),url('../fonts/lato/latoitalic.svg#latoitalic') format('svg'),url('../fonts/lato/latoitalic.ttf') format('truetype'),url('../fonts/lato/latoitalic.woff') format('woff'),url('../fonts/lato/latoitalic.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Lato-HeavyItalic';
	src: url('../fonts/lato/latoheavyitalic.eot');
	src: url('../fonts/lato/latoheavyitalic.eot?#iefix') format('embedded-opentype'),url('../fonts/lato/latoheavyitalic.svg#latoheavyitalic') format('svg'),url('../fonts/lato/latoheavyitalic.ttf') format('truetype'),url('../fonts/lato/latoheavyitalic.woff') format('woff'),url('../fonts/lato/latoheavyitalic.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Lato-Heavy';
	src: url('../fonts/lato/latoheavy.eot');
	src: url('../fonts/lato/latoheavy.eot?#iefix') format('embedded-opentype'),url('../fonts/lato/latoheavy.svg#latoheavy') format('svg'),url('../fonts/lato/latoheavy.ttf') format('truetype'),url('../fonts/lato/latoheavy.woff') format('woff'),url('../fonts/lato/latoheavy.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Lato-HairlineItalic';
	src: url('../fonts/lato/latohairlineitalic.eot');
	src: url('../fonts/lato/latohairlineitalic.eot?#iefix') format('embedded-opentype'),url('../fonts/lato/latohairlineitalic.svg#latohairlineitalic') format('svg'),url('../fonts/lato/latohairlineitalic.ttf') format('truetype'),url('../fonts/lato/latohairlineitalic.woff') format('woff'),url('../fonts/lato/latohairlineitalic.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Lato-Hairline';
	src: url('../fonts/lato/latohairline.eot');
	src: url('../fonts/lato/latohairline.eot?#iefix') format('embedded-opentype'),url('../fonts/lato/latohairline.svg#latohairline') format('svg'),url('../fonts/lato/latohairline.ttf') format('truetype'),url('../fonts/lato/latohairline.woff') format('woff'),url('../fonts/lato/latohairline.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Lato-BoldItalic';
	src: url('../fonts/lato/latobolditalic.eot');
	src: url('../fonts/lato/latobolditalic.eot?#iefix') format('embedded-opentype'),url('../fonts/lato/latobolditalic.svg#latobolditalic') format('svg'),url('../fonts/lato/latobolditalic.ttf') format('truetype'),url('../fonts/lato/latobolditalic.woff') format('woff'),url('../fonts/lato/latobolditalic.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Lato-Bold';
	src: url('../fonts/lato/latobold.eot');
	src: url('../fonts/lato/latobold.eot?#iefix') format('embedded-opentype'),url('../fonts/lato/latobold.svg#latobold') format('svg'),url('../fonts/lato/latobold.ttf') format('truetype'),url('../fonts/lato/latobold.woff') format('woff'),url('../fonts/lato/latobold.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Lato-BlackItalic';
	src: url('../fonts/lato/latoblackitalic.eot');
	src: url('../fonts/lato/latoblackitalic.eot?#iefix') format('embedded-opentype'),url('../fonts/lato/latoblackitalic.svg#latoblackitalic') format('svg'),url('../fonts/lato/latoblackitalic.ttf') format('truetype'),url('../fonts/lato/latoblackitalic.woff') format('woff'),url('../fonts/lato/latoblackitalic.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Lato-Black';
	src: url('../fonts/lato/latoblack.eot');
	src: url('../fonts/lato/latoblack.eot?#iefix') format('embedded-opentype'),url('../fonts/lato/latoblack.svg#latoblack') format('svg'),url('../fonts/lato/latoblack.ttf') format('truetype'),url('../fonts/lato/latoblack.woff') format('woff'),url('../fonts/lato/latoblack.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
}