// breakpoints
$screen-xs: 480px !default;
$screen-sm: 768px !default;
$screen-md: 1024px !default;
$screen-lg: 1400px !default;

$base_font_color: #212121;

$red 	: #d0430d;
$green 	: #7fb147;
$gold 	: #846a35;
$yellow : #fdf046;
$pink 	: #c24b7f;
$blue 	: #5b799f;
$avo 	: #c9a252;
$char 	: #454642;
$purple : #d388eb;
$orange : #f1a93a;
$lightpurple: #e8befd;
$teal: #19b0f0;
$newpurple: #9416da;