.section {
	&.intro {
		padding-top: 30px;
	}
	&.courses {
		padding-top: 30px;

		h2 {
			text-align: center;
		    align-items: center;
		    display: flex;
		    flex-direction: column;
		    justify-content: center;

			&:after {
				content: "";
			    border-bottom: 2px solid $pink;
			    height: 1px;
			    margin: 0 0 25px;
			    padding: 25px 0 0;
			    width: 100%;
			    @media (min-width: $screen-sm) {
			    	width: 400px;
			    }
			}
		}
	}
}