.footer_orange {
	background: url(../../images/home-footer.png) no-repeat 0 bottom / 100% auto;
}
.footer_blue {
	background: url(../../images/footer_blue.png) no-repeat 0 bottom / 100% auto;
}
.footer_pink {
	background: url(../../images/footer_pink.png) no-repeat 0 bottom / 100% auto;
}
.footer_gold {
	background: url(../../images/footer_gold.png) no-repeat 0 bottom / 100% auto;
}