.page_blue {
	.site_header {
		background: url(../images/header2.png) no-repeat 0 0;
		h1 {
			color: $blue;
			text-shadow: none;
		}
	}
}

.page_pink {
	.site_header {
		background: url(../images/header2.png) no-repeat 0 0;
		h1 {
			color: $pink;
			text-shadow: none;
		}
	}
}

.page_gold {
	.site_header {
		background: url(../images/header2.png) no-repeat 0 0;
		h1 {
			color: $gold;
			text-shadow: none;
		}
	}
}

.page_red {
	.site_header {
		background: url(../images/header2.png) no-repeat 0 0;
		h1 {
			color: $red;
			text-shadow: none;
		}
	}
}

.page_avo {
	.site_header {
		background: url(../images/header2.png) no-repeat 0 0;
		h1 {
			color: $avo;
			text-shadow: none;
		}
	}
}

.page_char {
	.site_header {
		background: url(../images/header2.png) no-repeat 0 0;
		h1 {
			color: $char;
			text-shadow: none;
		}
	}
}

.page_green {
	.site_header {
		background: url(../images/header2.png) no-repeat 0 0;
		h1 {
			color: $green;
			text-shadow: none;
		}
	}
}