.link_box {
	text-align: center;
	padding: 45px 0;
}

.bordered {
	text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

	&:after {
		content: "";
	    border-bottom: 2px solid $pink;
	    height: 1px;
	    margin: 0 0 25px;
	    padding: 25px 0 0;
	    width: 400px;
	}
}