.col {
	&.col_right {
		&.has_form {
			form {
				fieldset {
					border: 0;
					padding: 0;
					margin: 0;
				}

				ul {
					padding: 0;
					width: 100%;
					max-width: 100%;
				}

				div {
					width: 100%;
					float: left;
					padding: 22px 0 19px;

					div {
						width: 100%;
						padding: 9px 0;

						div {
							width: auto;
							padding: 0;
						}
					}
				}

				.radio {
					span {
					    align-items: center;
					    display: flex;
					    flex-direction: row;
					    float: left;
					    justify-content: center;
					    position: relative;
					    width: 100%;
					    padding: 0 22px 0 0;

						&:before {
						    border-radius: 100%;
						    border: 1px solid #212121;
						    content: "";
						    float: left;
						    height: 20px;
						    position: relative;
						    width: 20px;
						}

						&.checked {
							&:after {
						       border-radius: 100%;
							   border: none;
							   content: "";
							   float: left;
							   height: 12px;
							   position: absolute;
							   width: 12px;
							   background: #212121;
							}
						}
					}
				}

				.response {
					a {
						width: 100%;
						float: left;
					}
				}

				&.page2 {
					div {
						padding: 0 0 19px;

						input {
							border: 1px solid #212121;
							padding: 9px 11px;
						}
					}
				}
			}
		}
	}
}