.has_3_cols {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	width: 100%;
	padding-bottom: 45px;

	@media (min-width: $screen-sm) {
		flex-direction: row;
	}

	.col {
		width: 100%;
		text-align: center;

		@media (min-width: $screen-sm) {
			max-width: 33%;
			padding: 0 10px;
		}

		h4 {
			font-family: Lato-Regular;
		}

		.cta {
			padding-top: 20px;
		}
	}
}