.has_2_cols {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	padding: 0 20px;

	@media (min-width: $screen-sm) {
		flex-direction: row;
		padding: 0;
	}


	&.intro {
		.col {
			align-items: center;
		}
		.icon {
			max-width: 150px;

			img {
				height: 150px;
				width: auto;
			}
		}
		.text {
			font-size: 23px;
			font-family: 'Lato-Regular';
			font-weight: normal;
			text-align: center;
		}

	}

	.col {
		display: flex;
		flex-direction: column;
		width: 100%;
		padding: 0 0 20px;
		
		@media (min-width: $screen-sm) {
			max-width: 50%;
			padding: 0 40px 15px 0px;
		}

		&:nth-child(2n+2) {
			@media (min-width: $screen-sm) {
				padding: 0 0 40px 15px;
			}
		}

		.icon {
			padding-bottom: 20px;
		}

		.title {
			text-align: left;
		}

		.text {
			font-size: 16px;
			font-family: 'Lato-Light';
			font-weight: normal;
			padding: 0 0 10px;
		}

		.cta {
			a {

			}
		}
	}

	&.content {
		padding: 0px;
		.col {
			@media (min-width: $screen-sm) {
				padding: 0 67px 0 0;
			}

			&:nth-child(2n) {
				@media (min-width: $screen-sm) {
					padding: 0 0 0 67px;
				}
			}
		}
		h2 {
			text-align: left;
			&:after {
				display: none;
			}
		}

		ul {
			&:first-of-type {
				@media (min-width: $screen-sm) {
					padding-left: 23px;
				}
			}
		}
	}
}