.site_header {
	align-items: center;
	background: url(../images/header.png) no-repeat 0 0 / 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-height: 100px;

	@media (min-width: $screen-sm) {
		min-height: 350px;
	}

	.row {
		h1 {
		    font-family: 'Lato-Bold';
		    font-size: 25px;
		    line-height: 35px;
		    text-align: center;
		    text-shadow: 0px 1px #fff, 0 -1px #fff, 1px 0px #FFF, -1px 0 #fff;
			
			@media (min-width: $screen-sm) {
				font-size: 35px;
				line-height: 60px;
			}
		}
	}
}