.navigator {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.site_nav {
	padding: 20px;
	@media (min-width: $screen-sm) {
		padding: 20px 0;
	}
	.site-logo {
		a {
			font-size: 30px;
			font-family: 'Lato-Regular';
			text-decoration: none;
			color: #000;

			@media (min-width: $screen-sm) {
				font-size: 45px;
			}
		}
	}

	.nav_section {

		.nav_ico {
			padding-left: 10px;
		}
		.btn_close {
		    display: none;
		    float: right;
		    position: relative;

		    &.show {
		        display: flex;
		        align-items: center;
		        justify-content: center;
		        
		        .nav_ico {
		        	padding: 6px 0 0 10px;
		        }
		    }
		}
		.bar1, .bar2, .bar3 {
			background-color: #000;
			height: 3px;
			margin: 5px 0;
			transition: 0.4s;
			width: 26px;
		}

		.show {
			.bar1 {
			    -webkit-transform: rotate(-45deg) translate(0px, 0px) ;
			    transform: rotate(-45deg) translate(0px, 0px) ;
			}
			.bar2 {
			    opacity: 0;
			}
			.bar3 {
			    -webkit-transform: rotate(45deg) translate(-5px, -5px) ;
			    transform: rotate(45deg) translate(-5px, -5x) ;
			}
		}

		.menu_ico {
			align-items: center;
			display: flex;
			margin-left: auto;
			padding: 11px 15px 12px;
			font-size: 18px;
			font-family: 'Lato-Regular';
			text-transform: uppercase;
			color: #000;

			a {
				text-decoration: none;
				font-size: 18px;
				font-family: 'Lato-Regular';
				text-transform: uppercase;
				color: #000;
			}

			.menu_ico {
				padding-left: 15px;
			}

			.btn_menu {
				display: flex;
				align-items: center;

				&.hide {
					display: none;
				}
			}
		}

		.menu {
		    align-items: center;
		    background: rgba(0,0,0,0.75);
		    display: none;
		    flex-direction: column;
		    float: left;
		    height: 100%;
		    left: 0;
		    padding: 40px 0;
		    position: fixed;
		    top: 94px;
		    width: 100%;
		    z-index: 10;

		    li {
		    	padding-bottom: 10px;
		    	a {
		    		@media (min-width: $screen-sm) {
		    			font-size: 24px;
		    		}
		    		color: #fff;
		    		font-family: Lato-Regular;
		    		font-size: 32px;
		    		letter-spacing: 1.55px;
		    		text-transform: uppercase;
		    		text-decoration: none;
		    	}
		    }

		    &.show {
		    	display: flex;
		    }
		}
	}
}